<div class="common-tab js-common-tab">
    <ul class="common-tab__header">
        <li class="common-tab__link js-common-tab-link js-tab-link current" data-href="tab1">Tab1</li>
        <li class="common-tab__link js-common-tab-link js-tab-link" data-href="tab2">Tab2</li>
        <li class="common-tab__link js-common-tab-link js-tab-link" data-href="tab3">Tab3</li>
    </ul>
    <div class="common-tab__content js-tab-content current" data-content="tab1">
        content
    </div>
    <div class="common-tab__content js-tab-content" data-content="tab2">
        content
    </div>
    <div class="common-tab__content js-tab-content" data-content="tab3">
        content
    </div>
</div>

<!--Зависимости-->
<script src="../../js/plugins/jquery.js"></script>
<script src="commonTab.js"></script>

<!--Инициализация плагина-->
<script>
    $('.js-common-tab').commonTab();
</script>