@import '../../styles/scss/variables.scss';

.form-group {
    position: relative;
    width: 100%;
    padding-bottom: 17px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;

    .help-block {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        font-size: 12px;
        line-height: 13px;
    }

    label {
        margin-bottom: 2px;
        font-size: 14px;
        line-height: 18px;
        color: $c-grey-8;
        @media all and (max-width: 767px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &.has-error {
        .help-block {
            display: block;
            color: $c-red;
        }

        .form-control {
            border: 2px solid $c-red;
        }

        .checkbox-input__icon {
            border: 2px solid $c-red;
        }
    }

    &.has-success {
        .help-block {
            display: block;
            color: $c-green;
        }

        .form-control {
            border: 2px solid $c-green;
        }

        .checkbox-input__icon {
            border: 2px solid $c-green;
        }
    }
    &--active-label {
        label {
            position: absolute;
            left: 12px;
            top: 12px;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 0 5px;
            background-color: #ffffff;
            transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;

        }
        .form-control.in-focus ~ label {
            top: -10px;
            transform: scale(1.1);
        }
    }
}

.form-control {
    width: 100%;
    height: $form-control-height;
    padding: 0 $form-control-padding;
    border-radius: 4px;
    border: 1px solid $c-grey;
    font-size: 16px;
    line-height: 40px;
    color: $c-black;

    &::placeholder {
        font-size: 14px;
    }

    &--textarea {
        height: 100px;
        padding: 15px;
        line-height: 20px;
        &-flexible {
            overflow: hidden;
        }
    }
}

.checkbox-input {
    margin-bottom: 15px;
    label {
        position: relative;
        display: flex;
        align-items: center;
        height: 20px;
        margin: 0;
        padding-left: 30px;
        font-size: 12px;
        line-height: 16px;
        color: $c-black;
        cursor: pointer;
    }
    &__icon {
        position: absolute;
        top:0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $c-grey-dark;
        border-radius: 4px;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            display: none;
            top: 4px;
            left: 3px;
            width: 12px;
            height: 6px;
            border-left: 2px solid $c-black;
            border-bottom: 2px solid $c-black;
            transform-origin: center;
            transform: rotate(-45deg);
            z-index: 2;
        }
    }
    .help-block {
        top: 100%;
        left: 30px;
    }
    input{
        display: none;
    }
    input:checked ~ .checkbox-input__icon::after{
        display: block;
    }
    &.disabled {
        label {
            color: $c-grey-8;
            a {
                color: currentColor;
            }
        }
    }
}
