<!--Обычные инпуты-->
<div class="form-group">
    <label for="login">Login</label>
    <input type="text" id="login" class="form-control" aria-labelledby="login">
    <div class="help-block">Проверьте правильность логина</div>
</div>

<div class="form-group has-success">
    <label for="email">E-mail</label>
    <input type="text" id="email" class="form-control" aria-labelledby="email">
    <div class="help-block">Проверьте правильность e-mail адреса</div>
</div>

<div class="form-group has-error">
    <label for="address">Address</label>
    <input type="text" id="address" class="form-control" aria-labelledby="address">
    <div class="help-block">Проверьте правильность адреса</div>
</div>

<!--Инпуты с активным лейблом-->
<div class="form-group form-group--active-label">
    <input type="text" id="login2" class="form-control js-active-label" aria-labelledby="login2">
    <label for="login2">Login</label>
    <div class="help-block">Проверьте правильность логина</div>
</div>

<div class="form-group form-group--active-label has-success">
    <input type="text" id="email2" class="form-control js-active-label" aria-labelledby="email2">
    <label for="email2">E-mail</label>
    <div class="help-block">Проверьте правильность e-mail адреса</div>
</div>

<div class="form-group form-group--active-label has-error">
    <input type="text" id="address2" class="form-control js-active-label" aria-labelledby="address2">
    <label for="address2">E-mail</label>
    <div class="help-block">Проверьте правильность адреса</div>
</div>

<!--Textarea -->
<div class="form-group form-group">
    <label for="text">Textarea со скроллом</label>
    <textarea id="text" cols="30" rows="10" class="form-control form-control--textarea"></textarea>
</div>

<!--Textarea с активным лейблом-->
<div class="form-group form-group--active-label">
    <textarea id="text2" cols="30" rows="10"
              class="form-control
              form-control--textarea
              form-control--textarea-flexible
              js-textarea
              js-active-label">
    </textarea>
    <label for="text2">Textarea резиновый</label>
</div>

<!--Инициализация плагинов focusField для инпутов и autosize для textarea-->
<script src="../../js/plugins/jquery.js"></script>
<script src="focusField.js"></script>
<script src="../../js/plugins/autosize.min.js"></script>
<script>
    $('.js-active-label').each(function () {
        $(this).focusField();
    });
    autosize($('.js-textarea'));
</script>
