<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/css/styles.min.css">
</head>
<body class="in-frame">

    <h2>Обычные инпуты</h2>
    <div class="test-row">
        <!--Обычные инпуты-->
        <div class="test-item">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" id="login" class="form-control" aria-labelledby="login">
                <div class="help-block">Проверьте правильность логина</div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group has-success">
                <label for="email">E-mail</label>
                <input type="text" id="email" class="form-control" aria-labelledby="email">
                <div class="help-block">Проверьте правильность e-mail адреса</div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group has-error">
                <label for="address">Address</label>
                <input type="text" id="address" class="form-control" aria-labelledby="address">
                <div class="help-block">Проверьте правильность адреса</div>
            </div>
        </div>
    </div>

    <h2>Инпуты с активным лейблом</h2>
    <div class="test-row">
        <!--Инпуты с активным лейблом-->
        <div class="test-item">
            <div class="form-group form-group--active-label">
                <input type="text" id="login2" class="form-control js-active-label" aria-labelledby="login2">
                <label for="login2">Login</label>
                <div class="help-block">Проверьте правильность логина</div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group form-group--active-label has-success js-active-label">
                <input type="text" id="email2" class="form-control js-active-label" aria-labelledby="email2">
                <label for="email2">E-mail</label>
                <div class="help-block">Проверьте правильность e-mail адреса</div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group form-group--active-label has-error js-active-label">
                <input type="text" id="address2" class="form-control js-active-label" aria-labelledby="address2">
                <label for="address2">E-mail</label>
                <div class="help-block">Проверьте правильность адреса</div>
            </div>
        </div>
    </div>

    <div class="test-row" style="align-items: flex-end">

        <!--Textarea -->
        <div class="test-item">
            <div class="form-group form-group">
                <label for="text">Textarea со скроллом</label>
                <textarea id="text" cols="30" rows="10" class="form-control form-control--textarea"></textarea>
            </div>
        </div>


        <!--Textarea с активным лейблом-->
        <div class="test-item">
            <div class="form-group form-group--active-label">
                <textarea id="text2" cols="30" rows="10"
                          class="form-control
                          form-control--textarea
                          form-control--textarea-flexible
                          js-textarea
                          js-active-label"></textarea>
                <label for="text2">Textarea резиновый</label>
            </div>
        </div>
    </div>

    <h2>Чекбоксы</h2>
    <div class="test-row">
        <div class="test-item">
            <div class="form-group">
                <div class="checkbox-input">
                    <label>
                        Я согласен с правилами
                        <input type="checkbox">
                        <div class="checkbox-input__icon"></div>
                        <span class="help-block">Подтвердите согласие</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group">
                <div class="checkbox-input disabled">
                    <label>
                        Я согласен с правилами
                        <input type="checkbox" disabled="">
                        <div class="checkbox-input__icon"></div>
                        <span class="help-block">Подтвердите согласие</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group has-success">
                <div class="checkbox-input">
                    <label>
                        Я согласен с правилами
                        <input type="checkbox">
                        <div class="checkbox-input__icon"></div>
                        <span class="help-block">Подтвердите согласие</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="test-item">
            <div class="form-group has-error">
                <div class="checkbox-input">
                    <label>
                        Я согласен с правилами
                        <input type="checkbox">
                        <div class="checkbox-input__icon"></div>
                        <span class="help-block">Подтвердите согласие</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script src="../../js/plugins/jquery.js"></script>
    <script src="focusField.js"></script>
    <script src="../../js/plugins/autosize.min.js"></script>
    <script>
        $('.js-active-label').each(function () {
            $(this).focusField();
        });
        autosize($('.js-textarea'));
    </script>
</body>
</html>
