@charset "UTF-8";
/*
//размеры контейнера
$xs: 0;
$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1130px;
$xxl: 1540px;

//точки перехода
$xs-point: '0';
$sm-point: '600px';
$md-point: '808px';
$lg-point: '1032px';
$xl-point: '1230px';
$xxl-point: '1600px';
*/
/*
	Файл layout.scss
	Только общая сетка сайта (конейнер, хедер, (не)прибитый футер, колонки)
*/
/* -----------------------------------*/
/* ---------->>> LAYOUT   <<<---------*/
/* -----------------------------------*/
/*    LAYOUT
    ----------------------------------------------------------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  position: relative; }

body.in-framre {
  padding: 70px; }

.page-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh; }

.header {
  width: 100%;
  height: 80px;
  background-color: #000000;
  color: #ffffff;
  font-family: 'Ubuntu', monospace; }
  @media (max-width: 320px) {
    .header {
      height: 60px; } }
  .header__text {
    margin-bottom: 0;
    font-size: 26px; }
  .header__logo {
    display: block;
    width: 40px;
    height: 32px;
    margin-right: 20px; }
    .header__logo img {
      display: block;
      width: 100%;
      height: auto; }
  .header__content {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; }

.footer {
  width: 100%;
  height: 62px;
  margin-top: auto;
  background-color: #c1c1c1;
  border-top: 1px solid #e1e1e1; }
  @media (max-width: 320px) {
    .footer {
      height: auto;
      padding-top: 20px;
      padding-bottom: 15px; } }

.page-content {
  padding-top: 20px; }

.container {
  width: 820px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      width: 704px; } }
  @media (max-width: 320px) {
    .container {
      width: 100%;
      max-width: 410px;
      padding: 0 20px; } }

.component-section {
  margin-bottom: 20px; }

.sidebar {
  width: 200px;
  height: calc(100vh - 80px - 62px);
  background-color: #e1e1e1; }
  .sidebar ul li {
    cursor: pointer; }
    .sidebar ul li.active {
      color: #ff033d; }

.main {
  width: calc(100% - 200px); }
