<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/css/styles.min.css">
</head>
<body class="in-frame">

    <h2>Обычные бургеры</h2>
    <div class="test-row">

        <!--Обычный неанимированный бургер-->
        <div class="test-item">
            <div class="js-no-animation-burger menu-container">
                <button type="button" class="i-menu-hamburger js-hamburger-btn">
                    <span></span>
                </button>
            </div>
        </div>

        <!--Бургер с анимацией трансформации в крестик-->
        <div class="test-item">
            <div class="js-cross-animation-burger menu-container">
                <button type="button" class="i-menu-hamburger js-hamburger-btn">
                    <span></span>
                </button>
            </div>
        </div>

        <!--Бургер с анимацией трансформации в крестик в круге-->
        <div class="test-item">
            <div class="js-circle-animation-burger menu-container">
                <button type="button" class="i-menu-hamburger js-hamburger-btn">
                    <span></span>
                </button>
            </div>
        </div>

        <!--Бургер с анимацией уезжающих линий-->
        <div class="test-item">
            <div class="js-lines-animation-burger menu-container">
                <button type="button" class="i-menu-hamburger js-hamburger-btn">
                    <span></span>
                    <span class="hidden-bar"></span>
                </button>
            </div>
        </div>

    </div>

    <!--SVG-бургеры-->
    <h2>SVG-бургеры</h2>
    <div class="test-row">

        <!--1st SVG-burger-->
        <div class="test-item">
            <button type="button" class="burger-svg burger-svg--1" onclick="this.classList.toggle('active')">
                <svg class="burger" height="100%" width="100%" viewBox="0 0 40 40">
                    <path class="line line1" d="M 8,12 H 24" />
                    <path class="line line2" d="M 16,12 H 32" />
                    <path class="line line3" d="M 8,20 H 24" />
                    <path class="line line4" d="M 16,20 H 32" />
                    <path class="line line5" d="M 8,28 H 24" />
                    <path class="line line6" d="M 16,28 H 32" />
                </svg>
                <svg class="x" height="100%" width="100%" viewBox="0 0 40 40">
                    <path class="line" d="M 8,8 L 28,28" />
                    <path class="line" d="M 28,8 L 8,28" />
                </svg>
            </button>
        </div>

        <!--2nd SVG-burger-->
        <div class="test-item">
            <button type="button" class="burger-svg burger-svg--2" onclick="this.classList.toggle('active')">
                <svg class="burger" height="100%" width="100%" viewBox="0 0 40 40">
                    <path class="line line1" d="M 8,12 H 32" />
                    <path class="line line2" d="M 20,20 H 8 L 12,12" />
                    <path class="line line3" d="M 20,20 H 35 L 31,28" />
                    <path class="line line4" d="M 8,28 H 32" />
                </svg>
                <svg class="x" height="100%" width="100%" viewBox="0 0 40 40">
                    <path class="line" d="M 8,8 L 28,28" />
                    <path class="line" d="M 28,8 L 8,28" />
                </svg>
            </button>
        </div>

        <!--3rd SVG-burger-->
        <div class="test-item">
            <button type="button" class="burger-svg burger-svg--3" onclick="this.classList.toggle('active')">
                <svg class="burger" version="1.1" height="100%" width="100%" viewBox="0 0 40 40">
                    <path class="line line1" d="M 20,12 L 8,12 C 0,12 2,28 4,40" />
                    <path class="line line2" d="M 20,12 L 32,12 C 40,12 38,28 36,40" />
                    <path class="line line3" d="M 20,20 L 0,20" />
                    <path class="line line4" d="M 20,20 L 40,20" />
                    <path class="line line5" d="M 20,28 L 8,28 C 0,28 2,12 4,0"/>
                    <path class="line line6" d="M 20,28 L 32,28 C 40,28 38,12 36,0" />
                </svg>
                <svg class="x" version="1.1" height="100%" width="100%" viewBox="0 0 40 40">
                    <path class="line" d="M 8,8 L 28,28" />
                    <path class="line" d="M 28,8 L 8,28" />
                </svg>
            </button>
        </div>

    </div>

<script src="../../js/plugins/jquery.js"></script>
<script src="mobileMenu.js"></script>
<script>
    //Без анимации
    $('.js-no-animation-burger').mobileMenu();

    //Анимация превращения бургера в крестик
    $('.js-cross-animation-burger').mobileMenu({animation: 'crossAnimation'});

    //Анимация превращения бургера в крестик в круге
    $('.js-circle-animation-burger').mobileMenu({animation: 'circleAnimation'});

    //Анимация превращения бургера в крестик с убиранием берхней и нижней черт
    $('.js-lines-animation-burger').mobileMenu({animation: 'linesAnimation'});

</script>
</body>
</html>
