<!--Обычный неанимированный бургер-->
<div class="js-no-animation-burger menu-container">
    <button type="button" class="i-menu-hamburger js-hamburger-btn">
        <span></span>
    </button>
</div>

<!--Бургер с анимацией трансформации в крестик-->
<div class="js-cross-animation-burger menu-container">
    <button type="button" class="i-menu-hamburger js-hamburger-btn">
        <span></span>
    </button>
</div>

<!--Бургер с анимацией трансформации в крестик в круге-->
<div class="js-circle-animation-burger menu-container">
    <button type="button" class="i-menu-hamburger js-hamburger-btn">
        <span></span>
    </button>
</div>

<!--Бургер с анимацией уезжающих линий-->
<div class="js-lines-animation-burger menu-container">
    <button type="button" class="i-menu-hamburger js-hamburger-btn">
        <span></span>
        <span class="hidden-bar"></span>
    </button>
</div>

<!--Зависимости-->
<script src="../../js/plugins/jquery.js"></script>
<script src="mobileMenu.js"></script>

<!--Инициализация плагина-->
<script>
    //Без анимации
    $('.js-no-animation-burger').mobileMenu();

    //Анимация превращения бургера в крестик
    $('.js-cross-animation-burger').mobileMenu({animation: 'crossAnimation'});

    //Анимация превращения бургера в крестик в круге
    $('.js-circle-animation-burger').mobileMenu({animation: 'circleAnimation'});

    //Анимация превращения бургера в крестик с убиранием берхней и нижней черт
    $('.js-lines-animation-burger').mobileMenu({animation: 'linesAnimation'});

</script>