<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/css/styles.min.css">
</head>
<body class="in-frame">

<!--вставка кода компонента-->
<!--<iframe src="scrollbar.html" onload="this.before(...this.contentDocument.body.children); this.remove();"></iframe>-->

<!--Скроллбар-->
<div class="js-scrollbar scroll">
    <ul>
        <li>sample content line 001</li>
        <li>sample content line 002</li>
        <li>sample content line 003</li>
        <li>sample content line 004</li>
        <li>sample content line 005</li>
        <li>sample content line 006</li>
        <li>sample content line 007</li>
        <li>sample content line 008</li>
        <li>sample content line 009</li>
        <li>sample content line 010</li>
        <li>sample content line 011</li>
        <li>sample content line 012</li>
        <li>sample content line 013</li>
        <li>sample content line 014</li>
        <li>sample content line 015</li>
        <li>sample content line 016</li>
        <li>sample content line 017</li>
        <li>sample content line 018</li>
        <li>sample content line 019</li>
        <li>sample content line 020</li>
        <li>sample content line 021</li>
        <li>sample content line 022</li>
        <li>sample content line 023</li>
        <li>sample content line 024</li>
        <li>sample content line 025</li>
        <li>sample content line 026</li>
        <li>sample content line 027</li>
        <li>sample content line 028</li>
        <li>sample content line 029</li>
        <li>sample content line 030</li>
        <li>sample content line 031</li>
        <li>sample content line 032</li>
        <li>sample content line 033</li>
        <li>sample content line 034</li>
        <li>sample content line 035</li>
        <li>sample content line 036</li>
        <li>sample content line 037</li>
        <li>sample content line 038</li>
        <li>sample content line 039</li>
        <li>sample content line 040</li>
        <li>sample content line 041</li>
        <li>sample content line 042</li>
        <li>sample content line 043</li>
        <li>sample content line 044</li>
        <li>sample content line 045</li>
        <li>sample content line 046</li>
        <li>sample content line 047</li>
        <li>sample content line 048</li>
        <li>sample content line 049</li>
        <li>sample content line 050</li>
        <li>sample content line 051</li>
        <li>sample content line 052</li>
        <li>sample content line 053</li>
        <li>sample content line 054</li>
        <li>sample content line 055</li>
        <li>sample content line 056</li>
        <li>sample content line 057</li>
        <li>sample content line 058</li>
        <li>sample content line 059</li>
        <li>sample content line 060</li>
        <li>sample content line 061</li>
        <li>sample content line 062</li>
        <li>sample content line 063</li>
        <li>sample content line 064</li>
        <li>sample content line 065</li>
        <li>sample content line 066</li>
        <li>sample content line 067</li>
        <li>sample content line 068</li>
        <li>sample content line 069</li>
        <li>sample content line 070</li>
        <li>sample content line 071</li>
        <li>sample content line 072</li>
        <li>sample content line 073</li>
        <li>sample content line 074</li>
        <li>sample content line 075</li>
        <li>sample content line 076</li>
        <li>sample content line 077</li>
        <li>sample content line 078</li>
        <li>sample content line 079</li>
        <li>sample content line 080</li>
        <li>sample content line 081</li>
        <li>sample content line 082</li>
        <li>sample content line 083</li>
        <li>sample content line 084</li>
        <li>sample content line 085</li>
        <li>sample content line 086</li>
        <li>sample content line 087</li>
        <li>sample content line 088</li>
        <li>sample content line 089</li>
        <li>sample content line 090</li>
        <li>sample content line 091</li>
        <li>sample content line 092</li>
        <li>sample content line 093</li>
        <li>sample content line 094</li>
        <li>sample content line 095</li>
        <li>sample content line 096</li>
        <li>sample content line 097</li>
        <li>sample content line 098</li>
        <li>sample content line 099</li>
        <li>sample content line 100</li>
    </ul>
</div>

<!--Зависимости-->
<script src="../../js/plugins/jquery.js"></script>
<script src="../../js/plugins/dragdealer.js"></script>
<script src="scrollbar.js"></script>

<!--Инициализация плагина-->
<script>
    $('.js-scrollbar').scrollbar();
</script>


</body>
</html>
