@import "variables";

/*
	Файл base.scss
	- Содержит дефолтные стили для элементов.
*/
/* -----------------------------------*/
/* ---------->>>  BASE  <<<-----------*/
/* -----------------------------------*/
html {
    overflow-x: hidden;
}

body {
    font-family: $font;
    font-size: 16px;
    background: $c-white;
}

a, img, input, button, textarea {
    &:focus {
        outline: none;
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1 {
    margin-bottom: 1.5rem;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 700;
    color: $c-black;

    @media (max-width: $sm-point) {
        margin-bottom: 1rem;
    }
}

h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
}

.test-row {
    display: flex;
    margin-bottom: 2rem;

    .test-item:last-child {
        margin-right: 0;
    }
}

.test-item {
    flex: 50px 1 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
