@import "variables";
.common-tab__content pre {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: $c-green;
    background-color: $c-black;
}

.tab-download-link {
    display: inline-block;
    width: 200px;
    padding: 20px;
    color: $c-blue;
    &:hover {
        color: $c-red;
    }
}

.download-link {
    margin-right: 15px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
    color: $c-red;
    &:hover {
        color: $c-red;
        text-decoration: none;
    }
}

.common-tab__content--frame {
    background-color: #ffffff;
}
