/*
//размеры контейнера
$xs: 0;
$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1130px;
$xxl: 1540px;

//точки перехода
$xs-point: '0';
$sm-point: '600px';
$md-point: '808px';
$lg-point: '1032px';
$xl-point: '1230px';
$xxl-point: '1600px';
*/

//размеры контейнера
$md: 704px;
$lg: 820px;


//точки перехода
$xs-point: '0';
$sm-point: '320px';
$md-point: '768px';
$lg-point: '1280px';
$xl-point: '1680px';


$font: 'Arial', sans-serif;

//цвета
$c-white: #ffffff;
$c-black: #000000;
$c-blue: #0078fe;
$c-green: #11b267;
$c-green-light: #4dc58d;
$c-red: #ff033d;
$c-grey: #e1e1e1;
$c-grey-light: #f4f4f4;
$c-grey-dark: #c1c1c1;
$c-grey-blue: #e1eaf5;
$c-grey-1: #111;
$c-grey-2: #222;
$c-grey-3: #333;
$c-grey-4: #444;
$c-grey-5: #555;
$c-grey-6: #666;
$c-grey-7: #777;
$c-grey-8: #888;
$c-grey-9: #999;
$c-grey-a: #aaa;
$c-grey-b: #bbb;
$c-grey-c: #ccc;
$c-grey-d: #ddd;
$c-grey-e: #eee;
$c-transparent: rgba(0, 0, 0, 0);

//transition
$transition-3: all 0.3s ease-in-out;
$transition-5: all 0.5s ease-in-out;

//forms
$form-control-height: 40px;
$form-control-padding: 15px;

//other
$border-radius: 4px;
