<div class="zoom-box-wrapper">
    <div class="zoom-box js-zoom-box">
        <div class="zoom-content js-zoom-content">
            <img src="../../img/header-logo.png" alt="схема зала" class="zoom-image js-zoom-image">
        </div>
        <div class="scheme__controls">
            <button type="button" class="scheme__btn-plus scheme__btn js-zoom-plus"></button>
            <button type="button" class="scheme__btn-minus scheme__btn js-zoom-minus" disabled></button>
            <button type="button" class="scheme__btn-scale scheme__btn js-max-scale"></button>
            <button type="button" class="scheme__btn-unscale scheme__btn js-unscale" style="display: none"></button>
        </div>
    </div>
</div>
