<!--Степпер без тултипа-->
<div class="c-stepper js-c-stepper">
    <button type="button" tabindex="-1"
            class="c-stepper__decrement js-c-stepper__down"></button>
    <input type="text" data-min="1" data-max="10" class="c-stepper__value js-stepper__num" value="1" title="">
    <button type="button" tabindex="-1"
            class="c-stepper__increment js-c-stepper__up"></button>
</div>

<!--Степпер с тултипом-->
<div class="c-stepper js-c-stepper-with-tooltip" data-tooltip-text="10 максимум">
    <button type="button" tabindex="-1"
            class="c-stepper__decrement js-c-stepper__down"></button>
    <input type="text" data-min="1" data-max="10" class="c-stepper__value js-stepper__num" value="1" title="">
    <button type="button" tabindex="-1"
            class="c-stepper__increment js-c-stepper__up"></button>
</div>

<!--Зависимости-->
<script src="../../js/plugins/jquery.js"></script>
<script src="stepper.js"></script>

<!--Инициализация плагина-->
<script>
    $('.js-c-stepper').stepper();
    $('.js-c-stepper-with-tooltip').stepper({tooltip: true});
</script>
