@import '../../styles/scss/variables.scss';

.collapsible {
    &-wrap {
        overflow: hidden;
    }

    &-content {
        overflow: hidden;
        background-color: $c-grey-light;
        transition: margin .2s;

        &.partial {
            min-height: 100px;
        }
    }

    &-toggle {
        &::before {
            content: attr(data-text-collapse);
        }

        &.collapsed {
            &::before {
                content: attr(data-text-expand);
            }
        }
    }
}
