<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/css/styles.min.css">
</head>
<body class="in-frame">

<!--вставка кода компонента-->
<!--Спойлер-->
<div class="collapsible js-collapsible">
    <div class="collapsible-content js-collapsible-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos facere magnam maxime minima praesentium qui voluptas. Eos impedit laboriosam minus, porro quo sit voluptates. Alias consectetur ipsum nesciunt. Commodi cupiditate delectus expedita iste itaque, laboriosam quas temporibus voluptate. Eaque est facere numquam unde!</p>
        <p>A adipisci aliquid assumenda aut culpa cum deserunt dolorem eaque eius eligendi eveniet facilis fugit impedit incidunt ipsam ipsum iusto laboriosam laudantium magnam necessitatibus nemo neque nisi odio placeat porro repellat reprehenderit saepe, sapiente soluta suscipit ullam unde vitae voluptatem.</p>
        <p>Ducimus ea eveniet magnam veniam! Aspernatur culpa debitis distinctio impedit in perspiciatis placeat possimus rem? Aliquam consequuntur dolor ea eius fugiat, molestias odit quam repellat sed sint? Est iure maxime quasi sit! Accusamus adipisci alias, deserunt dolorem doloremque et inventore, iste perspiciatis ratione recusandae sequi tempora temporibus tenetur ut vitae. Blanditiis qui quis repellat sapiente velit voluptatem? Delectus est incidunt itaque perferendis possimus.</p>
        <p>A accusamus aperiam assumenda beatae commodi consequuntur corporis, dolorum ea, eligendi, error eveniet exercitationem expedita facilis fuga inventore ipsum iste iure laboriosam laborum laudantium libero mollitia neque nisi nulla perspiciatis praesentium quaerat quibusdam quidem repellat repudiandae tenetur veniam veritatis vero vitae voluptas voluptatem voluptates? Ad architecto aut blanditiis corporis, cum deserunt dolorum ducimus ea enim error ipsa iste molestiae molestias nesciunt nisi, possimus quo quos recusandae reiciendis ut veniam veritatis vero!</p>
        <p>Cupiditate, dolores, ducimus facere fuga fugiat minus nihil nostrum, odit omnis quia repellat tempora ut voluptas? Ducimus eum expedita facilis nobis provident quidem reiciendis repellendus similique. Amet error esse facilis mollitia nisi nostrum obcaecati, optio placeat quisquam velit. Alias aspernatur consequatur cumque doloremque dolorum ea eaque eos id, iure molestiae, nam porro praesentium quisquam sed voluptas voluptate voluptatibus? Cum modi, vitae! Aliquid dolorum ea, error explicabo ipsam maiores minima necessitatibus nihil nobis nulla obcaecati odio officiis quis quos ratione veniam, vero voluptas? Alias, cum dignissimos distinctio ducimus earum eius et hic incidunt minus molestias omnis pariatur, perferendis possimus quae quasi quia recusandae rem reprehenderit sint soluta tempore totam voluptatem voluptatum.</p>
    </div>
    <button class="collapsible-toggle js-collapsible-toggle" type="button" data-text-collapse="Collapse" data-text-expand="Expand"></button>
</div>

<!--Зависимости-->
<script src="../../js/plugins/jquery.js"></script>
<script src="collapsible.js"></script>

<!--Инициализация плагина-->
<script>
    $('.js-collapsible').collapsible();
</script>

</body>
</html>
